/* hide the native tabs */
#TabsToolbar {
  visibility: collapse;
}

/* hide the title bar */
#titlebar {
	  visibility: collapse;
}

/* hide the sidebar header */
#sidebar-header {
  visibility: collapse !important;
}
